/ServerApplication/.vs/ServerApplication/v16/.suo
/ServerApplication/.vs/ServerApplication/DesignTimeBuild/.dtbcache.v2
/ServerApplication/.vs/ServerApplication/config/applicationhost.config
/NativeComponent/.vs/NativeComponent/v16/.suo
/NativeComponent/.vs/NativeComponent/v16/Browse.VC.db
