<ng-container
  *ngIf="showImage">
  <div
    class="row mb-3">

    <div class="col-12">
      <img [src]="imageSource" alt="Image preview">
    </div>

  </div>

  <div
    *ngFor="let comment of caffImagePreview.comments"
    style="border-bottom: 1px solid"
    class="row">
    <div class="col-12 col-md-4 col-lg-2">
      {{comment.creationDate | date:'yyyy.MM.dd. HH:mm:ss'}}
    </div>
    <div
      class="col-12 col-md-8 col-md-10">
      {{comment.text}}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <form
        (ngSubmit)="addComment()"
        [formGroup]="addCommentFormGroup">
        <div class="form-group">
          <label for="commentInput">New comment</label>
          <textarea formControlName="text" class="form-control" id="commentInput" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>
  </div>
</ng-container>
