<h1 id="tableLabel">API Test</h1>

<p>This component demonstrates the api.</p>

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Test</th>
      <th>Button</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of testList">
      <td>{{ test.name }}</td>
      <td>
        <button
          class="btn btn-primary"
          [style.background-color]="test.status"
          (click)="runAction(test.name)"
        >
          Test
        </button>
      </td>
    </tr>
  </tbody>
</table>

<input type="file" id="file" (change)="handleFileInput($event.target.files)" />